<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>게시판</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<script>
$(function(){
	$("#searchBtn").click(function(){
		var keyword = $("#keyword").val();
		var searchOption = $("select[name=searchOption]").val();
		
		if(keyword == "" || keyword == null){
			alert("검색 키워드를 입력해 주세요.");
			return false;
		}else{
			location.href="/tlBoard/tlBoardList?searchOption="+searchOption+"&keyword="+keyword;
		}
	});
});
</script>

<body>
<div class="container">
		<div class="row">
			<h2>게시판</h2>
			<div class="col-sm-offset-10 col-sm-2">
				(전체 글: <span th:text="${count}"></span>)
				<!-- <span th:text="${#arrays.length(pageList)}"></span> -->
			</div>
			<br/><br/>
			<div class="col-md-12">
				<table class="table table-list-search table-hover">
                	<thead>
                        <tr>
                            <th>NO</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>작성일</th>
                            <th>조회수</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    	<tr th:if="${count == 0}">
							<td colspan="5">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 검색 결과가 없습니다.</td>
						</tr>
						<tr th:each="list : ${tlBoardList}">
							<td>
								<span th:text="${list.board_idx}"></span>
							</td>
							<td>
								<a th:href="@{'/tlBoard/tlBoardDetail?idx=' + ${list.board_idx}}">
									<span th:text="${list.subject}"></span>
								</a>
							</td>
							<td>
								<span th:text="${list.writer}"></span>
							</td>
							<td>
								<span th:text="${#temporals.format(list.date_created, 'yyyy-MM-dd HH:mm')}"></span>
							</td>
							<td>
								<span th:text="${list.hit_cnt}"></span>
							</td>
						</tr>
                    </tbody>
            	</table> 
			</div>
			
			<div class="text-center">
				<ul th:if="${count != 0}" class="pagination">
					<li th:if="${pageList[0] != 1}">
						<a th:if="${keyword != null}" th:href="@{'/tlBoard/tlBoardList?page=1&searchOption='+${searchOption}+'&keyword='+${keyword}}">&#60;&#60;</a>
						<a th:if="${keyword == null}" th:href="@{'/tlBoard/tlBoardList?page=1'}">&#60;&#60;</a>
					</li>
					<li th:if="${pageList[0] != 1}">
						<a th:if="${keyword != null}" th:href="@{'/tlBoard/tlBoardList?page='+${pageList[0]-1}+'&searchOption='+${searchOption}+'&keyword='+${keyword}}">&#60;</a>
						<a th:if="${keyword == null}" th:href="@{'/tlBoard/tlBoardList?page='+${pageList[0]-1}}">&#60;</a>
					</li>
					<li th:each="pageNum : ${pageList}" th:inline="text">
						<a th:if="${keyword != null && pageNum != null}" th:href="@{'/tlBoard/tlBoardList?page='+${pageNum}+'&searchOption='+${searchOption}+'&keyword='+${keyword}}">[[${pageNum}]]</a>
						<a th:if="${keyword == null && pageNum != null}" th:href="@{'/tlBoard/tlBoardList?page='+${pageNum}}">[[${pageNum}]]</a>
					</li>
					<li th:if="${next == true}">
						<a th:if="${keyword != null}" th:href="@{'/tlBoard/tlBoardList?page='+${endPage+1}+'&searchOption='+${searchOption}+'&keyword='+${keyword}}">&#62;</a>
						<a th:if="${keyword == null}" th:href="@{'/tlBoard/tlBoardList?page='+${endPage+1}}">&#62;</a>
					</li>
					<li th:if="${totalPageNum != endPage}">
						<a th:if="${keyword != null}" th:href="@{'/tlBoard/tlBoardList?page='+${totalPageNum}+'&searchOption='+${searchOption}+'&keyword='+${keyword}}">&#62;&#62;</a>
						<a th:if="${keyword == null}" th:href="@{'/tlBoard/tlBoardList?page='+${totalPageNum}}">&#62;&#62;</a>
					</li>
				</ul>
			</div>
			
			<div class="col-sm-offset-7 col-sm-2">
				<select class="form-control input-sm" name="searchOption">
					<option value="subject" th:selected="${searchOption == 'subject'}">제목</option>
					<option value="writer" th:selected="${searchOption == 'writer'}">글쓴이</option>
					<option value="content" th:selected="${searchOption == 'content'}">내용</option>
					<option value="all" th:selected="${searchOption == 'all'}">제목+글쓴이+내용</option>
				</select>
			</div>
			<div class="col-sm-2">
				<input type="text" id="keyword" name="keyword" th:value="${keyword}" class="form-control input-sm"/>
			</div>
			<div class="col-sm-1">
				<input type="button" value="조회" id="searchBtn"  class="btn btn-default btn-md"/>
			</div>
			<br><br>
			<div class="col-sm-offset-1 col-sm-1">
				<a href="/tlBoard/tlBoardWrite" class="btn btn-success btn-md">글쓰기</a>
			</div>
		</div>
	</div>
</body>
</html>