<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>로그인 페이지</title>
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>로그인</h2>
			<div class="col-md-12">
				<form action="/user/login" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="form-group">
						<label for="username" class="control-label col-sm-2">ID </label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="username" id="mem_userid"/>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="control-label col-sm-2">password </label>
						<div class="col-sm-10">
							<input type="password" class="form-control" name="password" id="mem_password" placeholder="비밀번호"/>
						</div>
					</div>
					<div class="form-group">&nbsp&nbsp&nbsp</div>
					<div class="form-group">
			    		<div class="col-sm-offset-6 col-sm-6">
							<input type="submit" id="loginBtn" value="로그인" class="btn btn-success btn-md"/>
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-offset-10 col-sm-1">
			    			<a th:href="@{/index}" class="btn btn-info btn-md">메인</a>
			    		</div>
					</div>
    			</form>
    		</div>
    	</div>
    </div>
</body>
</html>